<div id="line-<%= line.id %>" class="listed-block shadow-right-bottom rounded-8">
	<span class="name left"><%= link_to line.name, line %></span>
	<span class="name_by_directions middle"><%= line.name_by_directions %></span>
	
	<span class="right inlined">
		<%= button_to t('actions.delete'), line_path(line), 
				:method => :delete, 
				:confirm => I18n.t('messages.destroy_confirmation') %>
	  <%= link_to t('actions.edit'), edit_line_path(line) %>
	</span>
</div>