<div id="line-<%= line.id %>">
	<p class="name"><%= link_to line.name, line %></p>
	<p class="name_by_directions"><%= line.name_by_directions %></p>
	
  <%= button_to t('actions.delete'), line_path(line), :method => :delete, :confirm => I18n.t('messages.destroy_confirmation') %>
  <%= link_to t('actions.edit'), edit_line_path(line) %>

</div>