<% if @line.errors.any? %>
	<%= t('lines.update.messages.not_saved') %>
<% end %>

<h1><%= t('lines.edit.title') %></h1>

<%= render 'form' %>

<%= link_to 'Show', @line %> |
<%= link_to 'Back', lines_path %>
