<% if @line.errors.any? %>
	<%= content_for :alerts do %>
		<%= t('lines.update.messages.not_saved') %>
	<% end %>
<% end %>

<% content_for :header do %>
	<%= t('lines.edit.title') %>
<% end %>

<br/>

<div class="block">
	<%= render 'form' %>
</div>

<% content_for :footer do %>
	<%= link_to t('actions.back'), :back %>
<% end %>
