<% if @line.errors.any? %>
	<%= content_for :alerts do %>
		<%= t('lines.update.messages.not_saved') %>
	<% end %>
<% end %>

<h1><%= t('lines.edit.title') %></h1>

<%= render 'form' %>

<% content_for :footer do %>
	<%= link_to t('actions.back'), :back %>
<% end %>
