<%= render :partial => 'shared/sub_header', :locals => {:agrouper => @line } %>

<% content_for :raw do %>
	<div class="block">
		<div class="ways subsection">
			<%= render 'ways/index' %>
		</div>
		<div class="divider"></div>
		<div class="stations subsection">
			<%= render :partial => 'stations/index', :locals => {:station_agrouper => @line } %>
		</div>
		<div class="divider"></div>
		<div class="segments subsection">
			<%= render :partial => "segments/index", :locals => {:station_agrouper => @line } %>
		</div>
		<div class="divider"></div>
		<div class="connections subsection">
			<%= render :partial => "connections/index", :locals => {:station_agrouper => @line } %>
		</div>
	
	</div>
<% end %>

<% content_for :footer do %>
	<%= link_to t('actions.back'), lines_path %>
	<%= link_to t('actions.edit'), edit_line_path(@line), :class => "to-right modify" %>
<% end %>
