<div class="hidden color-h"><%= @line.color %></div>
<div class="sub-header">
	<h1><span class="transport"><%= @line.transport.name %></span> - <span class="line"><%= @line.name %></span> </h1>
	<span class="name-by-directions"><%= @line.name_by_directions %></span>
</div>

<div class="ways">
	<%= render 'ways/index' %>
</div>

<% content_for :footer do %>
	<%= link_to t('actions.back'), lines_path %>
	<%= link_to t('actions.edit'), edit_line_path(@line), :class => "to-right modify" %>
<% end %>
