<div class="simple-form">
	<div class="inlined-spaced">
		<% if @connection.another_line == @line %>
			<%= render :partial => 'form_order_station', :locals => {:f => f, :first_s => @connection.another_station_id, :last_s => @connection.one_station_id} %>
		<% else %>
			<%= render :partial => 'form_order_station', :locals => {:f => f, :first_s => @connection.one_station_id, :last_s => @connection.another_station_id} %>
		<% end %>
	</div>
	<%= f.hidden_field :one_line_id, :value => @line.id %>
	<br/><br/>
	<div class="inlined-spaced">
		<div><%= f.check_box :is_accessible, {}, @connection.is_accessible %> <b><%= t('activerecord.attributes.connection.is_accessible') %></b></div>
		<br/>
		<div>
			<%= f.label :length, t('activerecord.attributes.connection.length') %>
			<%= f.select :length, options_for_select(Connection.humanized_opts_for(:length), @connection.length) %>
		</div>
		<div>
			<%= f.label :kind, t('activerecord.attributes.connection.kind') %>
			<%= f.select :kind, options_for_select(Connection.humanized_opts_for(:kind), @connection.kind) %>
		</div>
	</div>
	
</div>

<%= f.submit t('actions.save') %>