<% if @connection.errors.any? %>
	<% content_for :alerts do %>
		<%= t('connections.update.messages.not_saved') %>
	<% end %>
<% end %>

<% content_for :header do %>
	<%= t('connections.edit.title') %>
<% end %>

<%= render :partial => 'shared/sub_header', :locals => {:agrouper => @line } %>

<div class="block">
	<%= form_for @connection, :method => :put do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
</div>

<% content_for :footer do %>
	<%= link_to t('actions.back'), line_path(@line) %>
<% end %>