<% if @transport.errors.any? %>
	<%= t('transports.update.messages.not_saved') %>
<% end %>

<% content_for :header do %>
	<%= t('transports.edit.title') %>
<% end %>

<br/>

<div class="block">
	<%= form_for @transport, :method => :put do |f| %>
		<div class="simple-form">
			<%= render :partial => 'form', :locals => {:f => f} %>
		</div>
		<%= f.submit t('actions.save'), :class => "submit-button" %>
	<% end %>
</div>


<% content_for :footer do %>
	<%= link_to t('actions.back'), transports_path %>
<% end %>