<div class="show block">
	<% if @transport.transport_mode_is?(:bike_sharing) %>
		<%= render "bike_sharing" %>
	<% else %>
		<%= render 'common' %>
	<% end %>
</div>

<% content_for :footer do %>
	<%= link_to t('actions.back'), transports_path %>
	
	<div class="to-right inlined">
		<%= link_to t('actions.edit'), edit_transport_path(@transport), :class => "modify" %>
		<%= button_to t('actions.delete'), transport_path(@transport), 
			:method => :delete, :confirm => I18n.t('messages.destroy_confirmation') %>
	</div>
<% end %>