<div class="simple-form">
	<%= f.label :name, t('activerecord.attributes.station.name') %>
	<%= f.text_field :name, :id => "station_name" %>
	<%= f.label :coordinates, t('activerecord.attributes.station.coordinates') %>
	<%= hidden_field_tag "coordinates[lat]", @station.coordinates.nil? ? nil : @station.coordinates.lat %>
	<%= hidden_field_tag "coordinates[lon]", @station.coordinates.nil? ? nil : @station.coordinates.lon %>
	<%= f.hidden_field :agrouper_id, :value => @agrouper.id %>
	<%= f.hidden_field :agrouper_type, :value => @agrouper.class.to_s %>
	<div id="map-box">
		<div style="width:100%; height:400px;" id="map" class="hide-address-on-load is-editable displays-points radio-5"></div>
	</div>
	<br/>
	<%= f.check_box :is_terminal %><b> <%= t('activerecord.attributes.station.is_terminal') %></b>
	<%= f.check_box :has_previous_station %><b> <%= t('activerecord.attributes.station.has_previous_station') %></b>
	
</div>
<br/>

<%= f.submit t('actions.save') %>