<% if @station.errors.any? %>
	<% content_for :alerts do %>
		<%= t('stations.update.messages.not_saved') %>
	<% end %>
<% end %>

<% content_for :header do %>
	<%= t('stations.edit.title') %>
<% end %>

<%= render :partial => 'shared/sub_header', :locals => {:agrouper => @agrouper} %>

<div class="block">
	<%= form_for @station do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
</div>

<% content_for :footer do %>
	<%= link_to t('actions.back'), line_path(@agrouper) %>
<% end %>