<h3><%= t('ways.new.title') %></h3>

<%= form_for [@line, Way.new] do |f| %>
	<div class="simple-form">
		<%= f.label :content, t('activerecord.attributes.way.content') %>
		<%= f.text_area :content, :id => "way_content", :cols => 90, :rows => 3 %>
		<%= f.label :description, t('activerecord.attributes.way.description') %>
		<%= f.text_field :description, :id => "way_description", :size => 60 %>
	</div>
	<%= f.submit t('actions.add') %>
<% end %>