<div class="simple-form">
	<div class="inlined-spaced">
		<div>
			<%= f.label :origin_station, t('activerecord.attributes.segment.origin_station') %>
			<%= f.select :origin_station_id, options_from_collection_for_select(@line.stations, "id", "name", @segment.origin_station_id) %>
		</div>
		<div>
			<%= f.label :destination_station, t('activerecord.attributes.segment.destination_station') %>
			<%= f.select :destination_station_id, options_from_collection_for_select(@line.stations, "id", "name", @segment.destination_station_id) %>
		</div>
	</div>
	
	<%= f.hidden_field :line_id, :value => @line.id %>
	<br/>
	<br/>
	<%= f.check_box :double_direction, :checked => @segment.double_direction || true %> 
	<b><%= t('segments.form.build_two_way_segment') %></b>
	<%= f.label t('stations.new.sub_form.fields.distance') %>
	<%= f.text_field :distance %> <%= t('stations.new.sub_form.kms') %>
</div>

<%= f.submit t('actions.save') %>