<% if @segment.errors.any? %>
	<% content_for :alerts do %>
		<%= t('segments.create.messages.not_saved') %>
	<% end %>
<% end %>

<% content_for :header do %>
	<%= t('segments.new.title') %>
<% end %>

<%= render :partial => 'shared/sub_header', :locals => {:line => @line } %>

<div class="block">
	<%= form_for @segment do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
</div>

<% content_for :footer do %>
	<%= link_to t('actions.back'), line_path(@line) %>
<% end %>